.account-item > .content > b:after {
    font-family: "Material-Design-Iconic-Font";
    font-weight: 500;
    content: '';
    display: inline-block;
    font-size: 16px;
    margin-left: 5px;
}
.account-item--style2 .content b:hover {
    color: #fff;
}